html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

h1{
  font-style: normal;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  }

h2{
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
  font-style: normal;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 26px;
  text-align: justify;
}

h3{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  font-style: normal;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 24px;
  text-align: justify;
}

.project-description {
  padding: 20px;
  font-style: normal;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 24px;
  text-align: justify;
}

 ul {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 200px;
    padding-right: 200px;
    list-style-type: none;
    font-style: normal;
    font-weight: normal;
    font-family: sans-serif;
    font-size: 24px;
    text-align: justify;
}

a{
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  font-family: sans-serif;
  color: black;
}

a:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: black;
}
